/************************************/
/************* GÉNÉRAL **************/
/************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background-1.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.gabarit {
    width: auto;
    display: flex;
    flex-direction: column;
}

.gabarit-int {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
}

/************************************/
/************** MENU ****************/
/************************************/

.section-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.img-logo-menu {
    width: 50px;
    padding: 25px;
}

.menu {
    color: white;
    font-family: mundial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1vw;
}

.menu-txt {
    padding-right: 3vw;
    text-decoration: none;
    color: white;
}

.menu-hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 3vw;
    display: none;
    z-index: 200;
}

#ligne-hamburger-1 {
    background-color: white;
    width: 50px;
    height: 3px;
    margin-bottom: 12px;
    border-radius: 2px;
}

#ligne-hamburger-2 {
    background-color: white;
    width: 50px;
    height: 3px;
    margin-bottom: 12px;
    border-radius: 2px;
}

#ligne-hamburger-3 {
    background-color: white;
    width: 50px;
    height: 3px;
    border-radius: 2px;
}

.menu-hamburger-open {
    display: none;
    flex-direction: column;
    align-items: center;    margin-top: 100px;
    z-index: 300;
    position: fixed;
    /*background-image: url(../img/background-1.png);*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menu-txt-hamburger {
    color: white;
    font-family: mundial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 15px;
}

.background-menu-hamburger {
    background-image: url(../img/background-1.png);
    z-index: 50;
}


/************************************/
/********** PRÉSENTATION ************/
/************************************/

.section-presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 8vw;
    width: 100%;

}

.present-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-laura-bonhomme {
    width: 480px;
    margin-bottom: 35px;
}

.txt-jobs {
    color: white;
    font-family: mundial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 35px;
}

.ligne {
    background-color: white;
    width: 40vw;
    height: 3px;
    margin-left: 15px;
    margin-bottom: 35px;
    border-radius: 2px;
}

.txt-message {
    color: white;
    font-family: mundial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    margin-left: 15px;
}

.img-illustration-laura {
    position: sticky;
    width: 450px;
    margin-left: 10vw;
}

#bouton-voir-presentation {
    font-family: mundial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 185px;
    margin-left: 15px;
}


/************************************/
/************ SÉPARATION ************/
/************************************/

.separation {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-separation {
    width: 90%;
    height: 100px;
    border: solid;
    border-color: white;
    border-width: 2px;
    background-image: url(../img/img-separation.png);
    background-size: cover;
}

/************************************/
/************ FORMATION *************/
/************************************/

.section-formation {
    color: white;
    font-family: mundial, sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 8vw;
    width: 100%;
    height: 50%;
}

.formation-container {
    display: flex;
    flex-direction: column;
    width: 160vw;
    height: 200px;
    padding-left: 8vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.timeline-resp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formation-annee {
    font-weight: 600;
    font-size: 1.2rem;
    width: 135px;
    background-color : rgba(255, 255, 255, 0.2);
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    padding: 10px;
    text-align: center;
}

.inter-ligne {
    background-color: white;
    height: 3px;
    border-radius: 2px;
}

#inter-ligne-lycee-prepa {
    width: 20vw;
}

#inter-ligne-prepa-bts {
    width: 14.3vw;
}

#inter-ligne-bts-inge {
    width: 21.5vw;
}

#inter-ligne-inge-canada {
    width: 25.7vw;
}

.formation-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formation-box {
    margin-right: 5vw;
}

.formation-diplome {
    font-weight: 600;
    font-size: 1.9rem;
}

.formation-mention {
    font-weight: 400;
    font-size: 1rem;
}

.formation-lieu {
    font-weight: 600;
    font-size: 1.2rem;
    opacity: 0.8;
}


/************************************/
/************* À LA UNE *************/
/************************************/

.section-a-la-une {
    color: white;
    font-family: mundial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6vw;
    width: 100%;
    margin-bottom: 6vw;
}

.a-la-une-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 8vw;
    margin-top: 2vw;
}

.a-la-une-parallax {
    display: flex;
    position: relative;
}

.parallax-box {
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

#parallax-box-2 {
    background-image: url(../img/projet-3d.png);
	background-size: cover;
    z-index: 2;
    width: 21.5vw;
    height: 14vw;
    position: absolute;
    left: 12vw;
}

#parallax-box-1 {
    background-image: url(../img/projet-design.png);
	background-size: cover;
    z-index: 1;
    width: 36vw;
    height: 21vw;
    position: absolute;
    top: 6vw;
    left: 25vw;
}

#parallax-box-3 {
    background-image: url(../img/projet-photo.png);
	background-size: cover;
    z-index: 3;
    width: 18.7vw;
    height: 12.2vw;
    position: absolute;
    top: 4vw;
    right: 20vw;
}

#bouton-voir-projets-1 {
    position: absolute;
    z-index: 4;
    width: 200px;
    top: 22vw;
    right: 13vw;
}


/************************************/
/*********** COMPÉTENCES ************/
/************************************/

.section-projets {
    color: white;
    font-family: mundial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 28vw;
    width: 100%;
    margin-bottom: 8vw;
}

.projets-container {
    display: flex;
    flex-direction: column;
    padding-left: 8vw;
    margin-top: 2vw;
}

.projets-themes {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.ligne-projets {
    display: flex;
    flex-direction: row;
}

.projets-box {
    width: 28%;
    height: 230px;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    margin-right: 2vw;
    margin-bottom: 2vw;
    align-items: center;
}

#projets-design {
    background-image: url(../img/projet-design.png);
    background-size: cover;
}

#projets-uxui {
    background-image: url(../img/projet-uxui.jpg);
    background-size: cover;
}

#projets-motion {
    background-image: url(../img/projet-motion.png);
    background-size: cover;
}

#projets-photo {
    background-image: url(../img/projet-photo.png);
    background-size: cover;
}

#projets-3d {
    background-image: url(../img/projet-3d.png);
	background-size: cover;
}

#projets-web {
    background-image: url(../img/projet-web.png);
    background-size: cover;
}

#bouton-voir-projets-2 {
    width: 200px;
}


/************************************/
/************* CONTACT **************/
/************************************/

.section-contact {
    color: white;
    font-family: mundial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 8vw;
}

.contact-container {
    display: flex;
    flex-direction: row;
    padding-left: 8vw;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-cv {
    width: 40%;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
}

.contact-txt {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
}

.contact-rs {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.icon-rs {
    width: 75px;
    margin-right: 15px;
}

.contact-perso {
    margin-bottom: 15px;
}

.contact-mail {
    display: flex;
    flex-direction: row;
}

.boutons-contact {
    display: flex;
    flex-direction: row;
}

#bouton-telecharger-cv {
    width: 240px;
    margin-right: 15px;
}

#bouton-me-recruter {
    width: 170px;
}


/************************************/
/************** GÉNÉRAL *************/
/************************************/

.bouton-voir {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top:10px;
    padding-bottom: 10px;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
    text-decoration:none;
    color: white;
}

.img-title {
    width: 40vw;
    opacity: 0.85;
    margin-left: 8vw;
    margin-bottom: 4vw;
}


/************************************/
/************** HOVER ***************/
/************************************/

.menu-txt:hover {
	cursor: pointer;
    opacity: 0.5;
}

.menu-hamburger:hover {
    cursor: pointer;
    opacity: 0.8;
}

.ligne-hamburger:hover ~ #ligne-hamburger-3 {
    width: 25px;
    transition: 0.2s;
} 

.menu-txt-hamburger:hover {
    cursor: pointer;
    opacity: 0.5;
}

.img-logo-menu:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
    transition: 0.2s;
}

.bouton-voir:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    scale: 1.05;
    transition: 0.2s;
}

.icon-rs:hover {
    cursor: pointer;
    transform: rotate(90deg) scale(0.95);
    transition: 0.5s;
}


/************************************/
/************ RESPONSIVE ************/
/************************************/

@media screen and (max-width: 1350px) {

    #inter-ligne-lycee-prepa {
        width: 19vw;
    }
    
    #inter-ligne-prepa-bts {
        width: 13.1vw;
    }
    
    #inter-ligne-bts-inge {
        width: 20.6vw;
    }
    
    #inter-ligne-inge-canada {
        width: 25.1vw;
    }

}

@media screen and (max-width: 1250px) {

    #inter-ligne-lycee-prepa {
        width: 18vw;
    }
    
    #inter-ligne-prepa-bts {
        width: 12.2vw;
    }
    
    #inter-ligne-bts-inge {
        width: 19.7vw;
    }
    
    #inter-ligne-inge-canada {
        width: 24.2vw;
    }

}

@media screen and (max-width: 1150px) {

    .section-presentation {
        flex-direction: column;
    }

    .section-formation {
        margin-bottom: 400px;
    }

    .formation-container {
        flex-direction: row;
    }

    .timeline {
        flex-direction: column;
        margin-right: 5vw;
        margin-top: 13px;
    }

    .timeline-resp {
        flex-direction: column;
    }

    .inter-ligne {
        width: 3px!important;
        height: 75px;
    }

    .formation-txt {
        flex-direction: column;
        align-items: flex-start;
    }

    .formation-box {
        margin-bottom: 34px;
    }

}

@media screen and (max-width: 800px) {

    .section-formation {
        margin-top: 100px;
        margin-bottom: 300px;
    }

    .formation-annee {
        font-size: 0.8rem;
        width: 80px;
    }

    .formation-diplome {
        font-size: 1.4rem;
    }

    .formation-mention {
        font-size: 0.7rem;
    }

    .formation-lieu {
        font-size: 0.9rem;
    }

    .inter-ligne {
        height: 57px;
    }
}

@media screen and (max-width: 700px) {

    .menu {
        display: none;
    }

    .menu-hamburger {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 519px) {
    
    body {
        overflow-x: hidden!important;
        width: 519px;
    }

    .section-menu {
        position: fixed;
    }

}