/************************************/
/************* GÉNÉRAL **************/
/************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background-1.png);
    background-size: cover;
    background-attachment: fixed;
}

.gabarit {
    width: auto;
    display: flex;
    flex-direction: column;
}

.gabarit-int {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-top: 20vh;
    /*overflow:auto;
    white-space: nowrap;*/
}

/************************************/
/************** MENU ****************/
/************************************/

.section-menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.img-logo-menu {
    width: 50px;
    padding: 25px;
}

.menu {
    color: white;
    font-family: mundial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2vw;
}

.menu-txt {
    padding-right: 1vw;
    text-decoration:none;
    color: white;
}

.img-title {
    width: 50vw;
    opacity: 0.8;
    margin-left: 8vw;
    margin-bottom: 5vw;
}


/************************************/
/********** PRÉSENTATION ************/
/************************************/

.section-presentation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 8vw;
    width: 100%;
}

.present-me {
    align-items: center;
}

.img-laura-bonhomme {
    width: 450px;
    margin-bottom: 35px;
}

.txt-jobs {
    color: white;
    font-family: mundial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 35px;
}

.ligne {
    background-color: white;
    width: 40vw;
    height: 3px;
    margin-left: 15px;
    margin-bottom: 35px;
    border-radius: 2px;
}

.txt-message {
    color: white;
    font-family: mundial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    margin-left: 15px;
}

.img-illustration-laura {
    position: sticky;
    width: 450px;
    margin-left: 10vw;
}


/************************************/
/************ SÉPARATION ************/
/************************************/

.separation {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-background {
    width: 90%;
    border: solid;
    border-color: white;
    border-width: 2px;
}

/************************************/
/************ FORMATION *************/
/************************************/

.section-formation {
    color: white;
    font-family: mundial, sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 8vw;
    width: 100%;
}

.formation-container {
    display: flex;
    flex-direction: column;
    width: 160vw;
    height: 200px;
    padding-left: 8vw;
    overflow: auto;
    white-space: nowrap;
}

.timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.formation-annee {
    font-weight: 600;
    font-size: 1.2vw;
    width: 8vw;
    background-color : rgba(255, 255, 255, 0.2);
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    padding: 10px;
    text-align: center;
}

.inter-ligne {
    background-color: white;
    height: 3px;
    border-radius: 2px;
}

#inter-ligne-lycee-prepa {
    width: 21.1vw;
}

#inter-ligne-prepa-bts {
    width: 15.3vw;
}

#inter-ligne-bts-inge {
    width: 23vw;
}

#inter-ligne-inge-canada {
    width: 27.1vw;
}

.formation-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formation-box {
    margin-right: 5vw;
}

.formation-diplome {
    font-weight: 600;
    font-size: 1.9vw;
}

.formation-mention {
    font-weight: 400;
    font-size: 1vw;
}

.formation-lieu {
    font-weight: 600;
    font-size: 1.2vw;
    opacity: 0.8;
}


/************************************/
/************* PROJETS **************/
/************************************/

.section-projets {
    color: white;
    font-family: mundial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 8vw;
    width: 100%;
    margin-bottom: 8vw;
}

.projets-container {
    display: flex;
    flex-direction: column;
    padding-left: 8vw;
}

.projets-themes {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.ligne-projets {
    display: flex;
    flex-direction: row;
}

.projets-box {
    width: 28%;
    height: 230px;
    border: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 5px;
    margin-right: 2vw;
    margin-bottom: 2vw;
    align-items: center;
}

#projets-design {
    background-image: url(../img/projet-design.png);
    background-size: cover;
}

#projets-uxui {
    background-image: url(../img/projet-uxui.jpg);
    background-size: cover;
}

#projets-motion {
    background-image: url(../img/projet-motion.png);
    background-size: cover;
}

#projets-photo {
    background-image: url(../img/projet-photo.png);
    background-size: cover;
}

#projets-3d {
    background-image: url(../img/projet-3d.png);
	background-size: cover;
}

#projets-web {
    background-image: url(../img/projet-web.png);
    background-size: cover;
}


/************************************/
/************** GÉNÉRAL *************/
/************************************/

.bouton-voir {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top:10px;
    padding-bottom: 10px;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}


/************************************/
/************** HOVER ***************/
/************************************/

.menu-txt:hover {
	cursor: pointer;
    opacity: 0.5;
}

.img-logo-menu:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
    transition: 0.2s;
}

.bouton-voir:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    scale: 1.05;
    transition: 0.2s;
}